.container {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.title {
  margin-bottom: 16px;
  font-size: 36px;
}

.email {
  margin-top: 16px;
}

.protocol-card {
  margin-top: 32px;
  
}

.protocol {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.protocol-icon {
  margin-right: 8px;
}

.visit{
  
  border: 0;
}