/* Base styles for all screen sizes */
.Content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 700px;
  border-radius: 30px;
}

.text {
  text-align: justify;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text iframe {
  margin-top: 20px;
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
  .image {
    width: 100%; /* Make the image take the full width of the screen */
    border-radius: 0; /* Remove border radius for a regular rectangular shape */
  }

  .text {
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .text iframe {
    width: 100%; /* Make the embedded video take the full width of the screen */
  }
}
