.contentStyle {
    min-height: 'calc(100vh - 160px)';
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    justify-content: 'center';
    padding: '20px';
}

.footerStyle {
    text-align: 'center';
    color: 'black';
    background-color: '#861A16';
}

.headerStyle {
    background-color: '#861A16';
    line-height: '100px';
}

;