.big-rectangle-button {
    width: 200px;
    height: 100px;
    background-color: #4096FF;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  a{
    font-size: 18px;
    color: white;
  }

