.app-header {
  display: flex;
  justify-content: space-between;
  background-color: #6d0202;
  color: black;
}
.app-logo {
  height: 60px;
} 

.menu-wrapper {
  display: flex;
  align-items: center;
}

.app-menu {
  display: block;
  align-items: center;

}

.menu-burger {
  display: none;
}

@media (max-width: 768px) {
  .menu-wrapper {
    justify-content: flex-end;
  }

  .app-menu {
    display: none;
  }

  .menu-burger {
    display: block;
  }
}
