.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #6d0202;
  }
  
  .app-logo {
    height: 100px;
    margin-right: 50px;
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 5px;
    padding-bottom: 10px;
  
  }
  
  .app-menu {
    margin-right: 0;
    border-bottom: none;
   
  
  }
  
  .ant-menu-overflow-item {
    color: #fff;
    background-color: #6d0202;
  
  }
  
  .ant-menu-submenu-title:hover {
    background: #6d0202 !important;
  }
  
  
  .ant-menu .ant-menu-item a {
    text-decoration: none;
  }
  
  
  .ant-menu-submenu-title .ant-menu-submenu-arrow  :hover {
    background: #fff !important;
    color: #fff;
  }
  