.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #6d0202;
  color: black;
}

.app-logo {
  height: 100px;
}

.menu-wrapper {
  display: flex;
  align-items: center;
}

.app-menu {
  display: block;
}

.menu-burger {
  display: none;
}

@media (max-width: 768px) {
  .menu-wrapper {
    justify-content: flex-end;
  }

  .app-logo {
    margin-right: auto;
    margin-left: 16px;
  }

  .app-menu {
    display: none;
  }

  .menu-burger {
    display: block;
  }
}
