/* Menu styles */
.bm-burger-button {
  position: absolute;
  width: 25px;
  height: 20px;
  top: 25px;
}

.bm-burger-bars {
  background: #fff;
}

.bm-burger-bars-hover {
  background: #a90000;
}

.bm-cross-button {
  

}

.bm-cross {
  background: #fff;
  
}

.bm-menu {
  font-size: 30px;
  overflow: hidden;
  font-family: 'Noto Serif Ottoman Siyaq', sans-serif;
  width: 500px;
  margin: 0 0 0 300px;
}

.bm-item {
  display: block;
  color: #fff;
  height: 80px;
}

.bm-item a {
  display: block;
  color: #fff;
  text-decoration: none;

}

.bm-item:hover {
  color: red;
}

/* Header styles */
.header {
  display: flex;
  align-items: center;
  background-color: #861A16;
  padding-right: 5px;
  height: 70px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.menu-title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin: 10px;
  font-family: 'Noto Serif Ottoman Siyaq', serif;
}

.menu-container {
  align-items: center;
  padding-top: 160px;
}

.bm-overlay {
  margin: -50px 0 0 0;
}

.bm-menu-wrap{
  width: 700px !important;
}

.bm-item-list {
  padding: 20px;
  margin: -20px;
  
}