.footer {
  background-color: #861A16;
  color: #fff;
  padding: 10px;
}
.footer-content {
  margin: 0 auto;
}
.secma-logo {
  max-width: 80px;
  height: auto;
}
.social-links a:not(:last-child) {
  margin-right: 10px;
}
.ant-layout-footer{
  background-color: #861A16;
}



