/* FooterComponent.css */

.footer {
  background-color: #730c02;
  color: black;
  padding: 20px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  max-width: 140px;
  height: auto;
}

.secma-logo {
  max-width: 220px;
  height: auto;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-links.small-screen {
  justify-content: flex-start;
}

.social-links a {
  color: black;
}

.social-links a:hover {
  color: #1890ff;
}

.social-links a:not(:last-child) {
  margin-right: 10px;
}

.social-links a:last-child {
  margin-right: 0;
}

.back-top {
  right: 10px;
}

.back-top-inner {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #730c02;
  color: #730c02;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.back-top-inner:hover {
  background-color: #730c02;
}
