.bm-burger-button {
  position: absolute;
  width: 25px;
  height: 20px;
  top: 25px;
}

.bm-burger-bars {
  background: #fff;
}

.bm-burger-bars-hover {
  background: #a90000;
}

.bm-cross {
  background: #fff;

}

.bm-menu { 
  font-family: 'Georama', sans-serif;  
  margin: 0 0 0 250px;
}

.bm-item {
  display: block;
  color: #fff !important;
  height: 80px;
  font-size: 30px;
}

.bm-item a {
  display: block;
  color: #fff !important;
  text-decoration: none;
}

.bm-item:hover {
  color: red !important;
}

.header {
  display: flex;
  align-items: center;
  background-color: #861A16;
  padding-right: 5px;
  height: 70px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.menu-title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin: 10px;
  font-family: 'Noto Serif Ottoman Siyaq', serif;
}

.menu-container {
  align-items: center;
  padding-top: 160px;
}

.bm-overlay {
  margin: -50px 0 0 0;
 width: 70% !important;
 
}

.bm-menu-wrap {
  width: 700px !important;
}

.bm-item-list {
  padding: 20px;
  margin: -40px;
}

.ant-layout-header {
  background: #861A16;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .bm-burger-button {
    position: absolute;
    width: 25px;
    height: 20px;
    top: 25px;
  }
  
  .bm-burger-bars {
    background: #fff;
  }
  
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  .bm-cross {
    background: #fff;
  
  }
  
  .bm-menu { 
    font-family: 'Georama', sans-serif;  
    margin: 1px 0 0 0;
  }
  
  .bm-item {
    display: block;
    color: #fff !important;
    height: 80px;
    font-size: 30px;
  }
  
  .bm-item a {
    display: block;
    color: #fff !important;
    text-decoration: none;
  }
  
  .bm-item:hover {
    color: red !important;
  }
  
  .header {
    display: flex;
    align-items: center;
    background-color: #861A16;
    padding-right: 5px;
    height: 70px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  
  .menu-title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 10px;
    font-family: 'Noto Serif Ottoman Siyaq', serif;
  }
  
  .menu-container {
    align-items: center;
    padding-top: 160px;
  }
  
  .bm-overlay {
    margin: -50px 0 0 0;
   width: 70% !important;
   
  }
  
  .bm-menu-wrap {
    width: 700px !important;
  }
  
  .bm-item-list {
    padding: 20px;
    margin: -40px;
  }
  
  .ant-layout-header {
    background: #861A16;
  }
}